body{
    background: rgb(2,0,36);
    background: linear-gradient(81deg, rgba(2,0,36,1) 0%, rgba(245,246,247,1) 0%, rgba(202,214,254,1) 100%);
}
.mainContiner{
    height: 400px; width: 800px;
    margin: auto; margin-top:150px;
    background-color: white;
    border-radius: 15px;
    box-shadow: -1px 1px 8px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 8px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 8px 3px rgba(0,0,0,0.75);
}
.logInPage{
    position: absolute; left: 450px; top: 220px;
}
.mh{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: inline;
    position:relative;left: 100px;
}
.icon{
    display: flex;
    margin-top: 15px;
    position: relative; left: 30px;
}
img{
    width: 10px; height: 10px;
    margin: 5px;
    border: black solid 2px;
    padding: 7px;
    border-radius: 20px;
    display: inline;
}
.mp{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: inline;
}
.email{
    display: block;
    margin-top: 15px;
    position: relative; right:52px ;
    padding: 5px;
    font-size: 15px;
    height: 25px;width: 350px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color:rgb(218, 216, 216);
    color: #000000;
    border-style: none;
    border-radius: 5px;
    .css-input:focus {
    outline:none;
   }
}
.password{
    display: block;
    margin-top: 10px;
    position: relative; right:52px ;
    padding: 5px;
    font-size: 15px;
    height: 25px;width: 350px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color:rgb(218, 216, 216);
    color: #000000;
    border-style: none;
    border-radius: 5px;
    .css-input:focus {
    outline:none;
    }
}
.Forget{
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: inline;
    text-decoration: none;
    color: black;
    font-weight:bold;
    position: relative; left: 50px;
    margin-top: 15px;
}
.signIn{
    display: block;
    margin-top: 10px;
    position: relative; left: 64px;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #533ab0;
    padding: 5px 40px 5px 40px;
    text-decoration: none;
    border: none;
}
.signIn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
.blue{
    background-color: #533ab0;
    height: 400px; width: 390px;
    margin-left: 410px;
    border-radius: 40% 15px 15px 20%;
    position: absolute; top: 150px;
}
.blueH, .blueP, .blueB{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
.blueB{
    margin-left: 170px;
    -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #faf9fb;
  font-size: 15px;
  background: #533ab0;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 3px;
  text-decoration: none;
}
.blueB:hover {
    background: #3c5cfd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
.blueP{
    margin-top: 150px;
}
.blueH{
    position: relative;top: 140px;
}